body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #3498db;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.opcoes{
    color: #3498dbc3;
    font-weight: 600;
}


#webcam-container {
    margin-top: 20px;
}

#label-container {
    margin-top: 20px;
}

#label-container > div {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}
